oet_pdu_flows.json
[
    {
        "id": "49b6b7fedba153cb",
        "type": "tab",
        "label": "Adam PT-100",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "082da00bd3663162",
        "type": "mqtt in",
        "z": "49b6b7fedba153cb",
        "name": "",
        "topic": "Advantech/74FE485B8C3F/data",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b0883a887732fa00",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 220,
        "wires": [
            [
                "2a2f7c50be485c4c",
                "4fcf68e80820c8ee"
            ]
        ]
    },
    {
        "id": "0385ca0478fe842f",
        "type": "debug",
        "z": "49b6b7fedba153cb",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 300,
        "wires": []
    },
    {
        "id": "2a2f7c50be485c4c",
        "type": "delay",
        "z": "49b6b7fedba153cb",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": true,
        "outputs": 1,
        "x": 170,
        "y": 300,
        "wires": [
            [
                "0385ca0478fe842f",
                "4ae5b21a7e6946d0"
            ]
        ]
    },
    {
        "id": "4ae5b21a7e6946d0",
        "type": "split",
        "z": "49b6b7fedba153cb",
        "name": "",
        "splt": "1",
        "spltType": "len",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "topic",
        "x": 150,
        "y": 360,
        "wires": [
            [
                "4698601a347b171f",
                "88feec810dbaa487"
            ]
        ]
    },
    {
        "id": "4698601a347b171f",
        "type": "switch",
        "z": "49b6b7fedba153cb",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "ai3",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "ai4",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "ai5",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "ai6",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "ai7",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 270,
        "y": 460,
        "wires": [
            [
                "3fc84e9e86cea929"
            ],
            [
                "07088648a383f835"
            ],
            [
                "7889dad9e55b1901"
            ],
            [
                "e4666ed65fc16a04"
            ],
            [
                "de41c4f6d10eabe4"
            ]
        ]
    },
    {
        "id": "88feec810dbaa487",
        "type": "debug",
        "z": "49b6b7fedba153cb",
        "name": "debug 9",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 360,
        "wires": []
    },
    {
        "id": "4fcf68e80820c8ee",
        "type": "debug",
        "z": "49b6b7fedba153cb",
        "name": "debug 10",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 220,
        "wires": []
    },
    {
        "id": "cc8cd80120ebab14",
        "type": "debug",
        "z": "49b6b7fedba153cb",
        "name": "ai4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 400,
        "wires": []
    },
    {
        "id": "d80921f142906123",
        "type": "debug",
        "z": "49b6b7fedba153cb",
        "name": "ai7 AC",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 600,
        "wires": []
    },
    {
        "id": "3fc84e9e86cea929",
        "type": "range",
        "z": "49b6b7fedba153cb",
        "minin": "4",
        "maxin": "20",
        "minout": "0",
        "maxout": "150",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "",
        "x": 520,
        "y": 400,
        "wires": [
            [
                "aa5a2c326208cde7",
                "6c55983bae9d24d4",
                "90f8c6f32f995c77",
                "dc513ef48efbf759"
            ]
        ]
    },
    {
        "id": "aa5a2c326208cde7",
        "type": "influxdb out",
        "z": "49b6b7fedba153cb",
        "influxdb": "2fc355cbaff98278",
        "name": "PIROV HV TX Temperature",
        "measurement": "HV TX Temperature",
        "precision": "",
        "retentionPolicy": "",
        "database": "PIROV",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 800,
        "y": 360,
        "wires": []
    },
    {
        "id": "de41c4f6d10eabe4",
        "type": "range",
        "z": "49b6b7fedba153cb",
        "minin": "4",
        "maxin": "20",
        "minout": "0",
        "maxout": "600",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "",
        "x": 520,
        "y": 560,
        "wires": [
            [
                "d80921f142906123",
                "e5ddcd8c1a228bef",
                "fea8d32953d2cdba",
                "9c8cac832c58340e"
            ]
        ]
    },
    {
        "id": "e5ddcd8c1a228bef",
        "type": "influxdb out",
        "z": "49b6b7fedba153cb",
        "influxdb": "2fc355cbaff98278",
        "name": "PIROV PDU Input Volts",
        "measurement": "PDU Input Volts",
        "precision": "",
        "retentionPolicy": "",
        "database": "PIROV",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 790,
        "y": 560,
        "wires": []
    },
    {
        "id": "07088648a383f835",
        "type": "range",
        "z": "49b6b7fedba153cb",
        "minin": "4",
        "maxin": "20",
        "minout": "0",
        "maxout": "100",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "",
        "x": 520,
        "y": 440,
        "wires": [
            [
                "cc8cd80120ebab14",
                "6ff02e6771f2859d",
                "d46ab9ce888eb4ae"
            ]
        ]
    },
    {
        "id": "7889dad9e55b1901",
        "type": "range",
        "z": "49b6b7fedba153cb",
        "minin": "4",
        "maxin": "20",
        "minout": "0",
        "maxout": "100",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "",
        "x": 520,
        "y": 480,
        "wires": [
            [
                "73982a2cf1c4f655",
                "d46ab9ce888eb4ae"
            ]
        ]
    },
    {
        "id": "e4666ed65fc16a04",
        "type": "range",
        "z": "49b6b7fedba153cb",
        "minin": "4",
        "maxin": "20",
        "minout": "0",
        "maxout": "100",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "",
        "x": 520,
        "y": 520,
        "wires": [
            [
                "7c921b01bf5699f8",
                "d46ab9ce888eb4ae"
            ]
        ]
    },
    {
        "id": "6ff02e6771f2859d",
        "type": "influxdb out",
        "z": "49b6b7fedba153cb",
        "influxdb": "2fc355cbaff98278",
        "name": "PIROV HV Phase A",
        "measurement": "HV Phase A",
        "precision": "",
        "retentionPolicy": "",
        "database": "PIROV",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 770,
        "y": 440,
        "wires": []
    },
    {
        "id": "73982a2cf1c4f655",
        "type": "influxdb out",
        "z": "49b6b7fedba153cb",
        "influxdb": "2fc355cbaff98278",
        "name": "PIROV HV Phase B",
        "measurement": "HV Phase B",
        "precision": "",
        "retentionPolicy": "",
        "database": "PIROV",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 780,
        "y": 480,
        "wires": []
    },
    {
        "id": "7c921b01bf5699f8",
        "type": "influxdb out",
        "z": "49b6b7fedba153cb",
        "influxdb": "2fc355cbaff98278",
        "name": "PIROV HV Phase C",
        "measurement": "HV Phase C",
        "precision": "",
        "retentionPolicy": "",
        "database": "PIROV",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 780,
        "y": 520,
        "wires": []
    },
    {
        "id": "90f8c6f32f995c77",
        "type": "ui_chart",
        "z": "49b6b7fedba153cb",
        "name": "TX temp",
        "group": "9c49016a66505941",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "150",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 740,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "dc513ef48efbf759",
        "type": "ui_gauge",
        "z": "49b6b7fedba153cb",
        "name": "TX temp",
        "group": "9c49016a66505941",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "",
        "label": "C",
        "format": "{{value}}",
        "min": 0,
        "max": "150",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 740,
        "y": 240,
        "wires": []
    },
    {
        "id": "6c55983bae9d24d4",
        "type": "debug",
        "z": "49b6b7fedba153cb",
        "name": "ai3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 320,
        "wires": []
    },
    {
        "id": "d46ab9ce888eb4ae",
        "type": "ui_chart",
        "z": "49b6b7fedba153cb",
        "name": "PDU Amps",
        "group": "e4be72e7bf91e365",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 750,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "fea8d32953d2cdba",
        "type": "ui_chart",
        "z": "49b6b7fedba153cb",
        "name": "PDU Volts",
        "group": "a83db2da47faf752",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 750,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "9c8cac832c58340e",
        "type": "ui_gauge",
        "z": "49b6b7fedba153cb",
        "name": "PDU Volts",
        "group": "a83db2da47faf752",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "",
        "label": "VAC",
        "format": "{{value}}",
        "min": 0,
        "max": "600",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 750,
        "y": 720,
        "wires": []
    },
    {
        "id": "b0883a887732fa00",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2fc355cbaff98278",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "pirov",
        "name": "pirov",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.8-flux",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "9c49016a66505941",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "a95a1a4de37f3be9",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e4be72e7bf91e365",
        "type": "ui_group",
        "name": "Amperage",
        "tab": "a95a1a4de37f3be9",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a83db2da47faf752",
        "type": "ui_group",
        "name": "Voltage",
        "tab": "a95a1a4de37f3be9",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a95a1a4de37f3be9",
        "type": "ui_tab",
        "name": "PDU",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]